@font-face {
  font-family: "iconfont"; /* Project id 3698356 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1684075099515') format('woff2'),
       url('iconfont.woff?t=1684075099515') format('woff'),
       url('iconfont.ttf?t=1684075099515') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 24px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bxl-algolia:before {
  content: "\e632";
}

.icon-github:before {
  content: "\e603";
}

.icon-github-copy:before {
  font-size: 30px;
  content: "\100f4";
}

.icon-cha-fill-:before {
  content: "\e627";
}

.icon-jinrujiantouxiao:before {
  content: "\e8b9";
}

.icon-dazhaohu:before {
  content: "\ff17";
}

.icon-jinrujiantouxiao-copy:before {
  content: "\100f6";
}

.icon-iconfonticonfontzhifubao:before {
  content: "\e612";
}

.icon-logo-wechat-copy-copy:before {
  content: "\100ea";
}

.icon-logo-wechat:before {
  content: "\e619";
}

.icon-yduitengxunqq:before {
  content: "\e6a1";
}

.icon-yduitengxunqq-copy:before {
  content: "\100eb";
}

.icon-gongzhonghao:before {
  content: "\e653";
}

.icon-gongju1:before {
  content: "\e81d";
}

.icon-biaoqianA01_fenlei-72:before {
  content: "\eabf";
}

.icon-biaoqiankuozhan_fenlei-122:before {
  content: "\eaf2";
}

.icon-fenlei2:before {
  content: "\f315";
}

.icon-peizhi:before {
  content: "\e659";
}

.icon-shequ:before {
  content: "\100e2";
}

.icon-shipin:before {
  content: "\f0aa";
}

.icon-tupian1:before {
  content: "\f0ac";
}

.icon-xihuan:before {
  content: "\f0b9";
}

.icon-fenxiang:before {
  content: "\f0bd";
}

.icon-fujian:before {
  content: "\f0c2";
}

.icon-shezhi:before {
  content: "\f0c3";
}

.icon-biaoqian1:before {
  content: "\f0cb";
}

.icon-fukuan:before {
  content: "\f0d5";
}

.icon-jiasu:before {
  content: "\f0de";
}

.icon-gengduofuwu:before {
  content: "\100e3";
}

.icon-shezhi4:before {
  content: "\e60f";
}

.icon-dianzan1:before {
  content: "\e62d";
}

.icon-sousuo:before {
  content: "\e660";
}

.icon-liwu-copy:before {
  content: "\100f0";
}

.icon-liwu:before {
  content: "\e615";
}

.icon-youjian:before {
  content: "\e668";
}

.icon-youjian-copy:before {
  content: "\100ef";
}

.icon-gitee:before {
  content: "\e60c";
}

.icon-gitee-copy:before {
  font-size: 30px;
  content: "\100ed";
}

.icon-csdn-copy:before {
  content: "\100f5";
}

.icon-csdn:before {
  content: "\e600";
}

